@import "tailwindcss"; 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Reglas base */
html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f9fafb;
}

/* Scrollbar fina para el menú */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1; 
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; 
}